﻿@helper Message(string id, string action, string type, string message)
{
    <div id="@id" class="hidden">
        <div class="alert alert-@type">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@action!</strong> @message
        </div>
    </div>
}

@helper AlertMessages()
{
    @Message("createMessage", "Create", "success", "Se logró crear existosamente.")
    @Message("deleteMessage", "Delete", "danger", "El registro se eliminó exitosamente.")
    @Message("editMessage", "Edit", "success", "El registro se actualizó exitosamente.")
}