﻿@model Asistencia.Models.Marcacion

@Messages.Message("inUse", "Edit", "danger", "This customer is in use at this moment.")

@using (Ajax.BeginForm("Edit", new { Controller = "Marcacion" },
        new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "modal-body",
            OnSuccess = "marcacion.success('edit');marcacion.removeMarcacion('" + Model.Id + "');"
        },
        htmlAttributes: new { id = "editForm" })
        )
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Marcacion @ViewBag.mensaje</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.IdHorario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdHorario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IdHorario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaEntrada, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaEntrada, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaEntrada, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaSalida, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaSalida, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaSalida, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#editForm");

        $('#inUse').addClass('hidden');
        marcacion.addMarcacion("@Model.Id");
        marcacion.validate("@Model.Id");
    });

    cibertec.closeModal = function () {
        if (!marcacion.recordInUse)
            marcacion.removeMarcacion("@Model.Id");
    }
</script>