﻿@model IEnumerable<Asistencia.Models.MarcacionTrabajador>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                
                <th>
                    Nombres y Apellidos
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.horario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaEntrada)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaSalida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            
            <td>
                @item.nombres  @item.apePaterno  @item.apeMaterno
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.horario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSalida)
            </td>
            <td>
                @Html.DisplayFor(model => item.Estado)
            </td>
            <td >
                <a href="#" onclick="cibertec.getModal('@Url.Action("Edit",new { id = item.Id })'); return false;"
                   data-toggle="modal" data-target="#modal-container" class="btn btn-warning btn-sm">
                    <span class="glyphicon glyphicon-edit"></span> 
                </a>
                <a href="#" onclick="cibertec.getModal('@Url.Action("Details",new { id = item.Id })'); return false;"
                   data-toggle="modal" data-target="#modal-container" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> 
                </a>
                <a href="#" onclick="cibertec.getModal('@Url.Action("Delete",new { id = item.Id })'); return false;"
                   data-toggle="modal" data-target="#modal-container" class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-trash"></span> 
                </a>
            </td>
        </tr>
            }

        </table>
        </div>