﻿@model IEnumerable<Asistencia.Models.Trabajador>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApePaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApeMaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTipoDocIdentidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocIdentidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdOficina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTipoTrabajador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FotoUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApePaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApeMaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdTipoDocIdentidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocIdentidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdOficina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdTipoTrabajador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FotoUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
