﻿@model Asistencia.Models.Trabajador

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Trabajador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApePaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApePaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApeMaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApeMaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdTipoDocIdentidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTipoDocIdentidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocIdentidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocIdentidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdOficina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdOficina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdTipoTrabajador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTipoTrabajador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FotoUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FotoUrl)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
